//
//  LoopFollowDisplayNameConfig.xcconfig
//
//  Use this file to configure instance-specific settings for LoopFollow.
//

// App Suffix: Used to differentiate AppGroupIdentifier between different app instances.
app_suffix = 

// Custom Display Name for Your LoopFollow App
// ---------------------------------------------
// The 'display_name' field allows you to personalize the name of this LoopFollow app instance.
// This name appears on your device and helps to distinguish between different LoopFollow instances.
//
// How to Set:
// 1. Replace 'LoopFollow' with the desired name of your app. 
// 2. Save the file and build the app for the changes to take effect.
//
display_name = Hania
